:root {
    --primary-color: #00b4d8;
    --primary-color-light: #023e8a;
    --text-color: grey;
    --secondary-color: black;
}
*{
    margin: 0;
    padding: 0;
    /* transition: all 1s linear; */
    list-style: none;
    text-decoration: none;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Wix Madefor Display", sans-serif;
}

/* ==================================
 header begins  
===================================== */
header{
    position: fixed;
    display: flex;
    gap: 5rem;
    background: white;
    padding: 0 0 0.5rem 0;
    width: 100%;
    z-index: 2;
    box-shadow:0 0 10px 0 ;
}
header img{
    width: 100px;
    height: 80px;
    margin: 0.8rem 0 0 5rem ;
}
header h1 span{
    color: var(--primary-color);
}
header .navBox{
    width: 100%;

}
header .navBox .topHead{
    background: var(--primary-color);
    border-radius: 0 0 0 4rem ;
    padding: 1rem 2rem 1rem 4rem ;
    color: white;
    text-align: end;
}
header .navBox nav{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
header .navBox nav a{
    display: block;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-color);
}
header .navBox nav a:hover{
    border-bottom: 1px solid var(--primary-color-light);
}
/* ==================================
 header ends  
===================================== */


/* ==================================
home begins  
===================================== */
.home{
    /* position: absolute; */
    width: 100%;
    padding-top: 5rem;
}
.menu{
    position: absolute;
    top: 3.8rem;
    right: 0;
    font-size: 2rem;
    width: 50px;
    color: black;
    display: none;
    
}
.slidebox{
    background: rgb(64, 173, 216);
    padding: 3rem 2rem 1rem;
    position: absolute;
    top: 8rem;
    right: 0;
    width: 100px;
    height: 160px;
    z-index: 1;
    border-radius: 5rem 0 0 0;
    display: none;
}
.slidebox ul li a{
    color: white;
    line-height: 2rem;
}
.home .slider .sliderText{
    position: relative;
    width: 45%;
    left: 5rem;
    top: 10rem;
}
.home .slider .sliderText h2{
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
}
.home .slider .sliderText p{
    color: #fff;
    text-align: justify;
    width: 80%;
    font-size: 16px;
    margin: 20px 0;
}
.home .slider .sliderText button{
    background: var(--primary-color) none repeat scroll 0 0;
    border: 3px solid var(--primary-color-light);
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 26px;
    padding: 5px 10px;
}
.home .slider1{
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5) 
    ),url("./images/Asco\ side\ 2.jpg");
    background-size: cover;
    height: 100vh;
}
.home .slider2{
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5) 
    ),url("./images/Security-Officer-1.jpg");
    background-size: cover;
    height: 100vh;
    display: none;
}
.home .slider3{
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5) 
    ),url("./images/Security-Officer-1.jpg");
    background-size: cover;
    height: 100vh;
    display: none;
}
/* ==================================
 home ends  
===================================== */


/* ==================================
mission begins  
===================================== */
.next{
    background: #f3e9e9 none repeat scroll 0 0;
    text-align: center;
    padding: 4rem 0 3rem 0;
}
.next span{
    font-weight: 80;
    font-size: 1.3rem;
}
.next p{
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    margin: 0 0 2rem 0;
    color: rgb(75, 75, 75);
}
.next .boxes{
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.next .boxes .box{
    padding-bottom: 2rem;
    width: 350px;
    background: white none repeat scroll 0 0;
    border-bottom: 3px solid #fff;
    text-align: center;
    transition: all 0.3s ease 0s;
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.2);

}
.next .boxes .box:hover{
    border-bottom: 3px solid var(--primary-color-light);
}
.next .boxes .box a{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: rgb(75, 75, 75);
    position: relative;
    top: 1rem;
}
.next .boxes .box a:hover{
    color: var(--primary-color-light);
}
/* ==================================
mission ends 
===================================== */


/* ==================================
 services begins  
===================================== */
.services{

    display: grid;
    place-items: center;
    margin: 2rem 4rem;
}
.services .text{
    margin-bottom: 30px;
    text-align: center
}
.services .text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(75, 75, 75); 
}
.services .text h3{
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    color: #023e8a;
}
.serviceBox{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
}
.services .serviceBox .serviceBoxChild{
    background: rgb(234, 233, 233);
    padding: 1.5rem;
    border-left: 2px  solid var(--primary-color);
    width: 310px;
}
.services .serviceBox .serviceBoxChild .icon{
    background: rgb(234, 233, 233);
    border-radius: 50%;
    height: 80px;
    line-height: 80px;
    margin: -52px auto 0;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
    width: 80px;
}
.services .serviceBox .serviceBoxChild .icon i{
    color: #00b4d8;
    font-size: 1.5rem;
}
.services .serviceBox .serviceBoxChild h4{
    text-align: center;
    padding: 0 0 1rem 0;
    color: rgb(57, 57, 57);
    font-size: 1.2rem;
    font-weight: 500;
}
.services .serviceBox .serviceBoxChild p{
    font-size: 0.9rem;
    color: rgb(97, 97, 97);
    line-height: 1.2rem;
}
/* ==================================
 services ends  
===================================== */


/* ==================================
 assurance begins  
===================================== */
.assurance {
    background: linear-gradient(
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.5)
    ), url("./images/assurance.jpeg") no-repeat fixed 0 0 / cover;
    position: relative;
    text-align: center;
    margin: 0 0 5rem 0;
    height: 300px;
    color: white;
    padding: 5rem 0 3rem 0;
}
.assurance p{
    font-family: "Oswald", sans-serif;
    line-height: 35px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bolder;
}
.assurance .container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 3rem;
}
.assurance .container .content{
    border: 1px solid rgb(128, 127, 127);
    padding: 2rem;
    line-height: 1.5rem;
}
.assurance .container .content span{
    font-size: 2rem;
    font-weight: bolder;
}
.assurance .container .content p{
    font-size: large;
}
/* ==================================
 assurance ends  
===================================== */


/* ==================================
 footer begins  
===================================== */
footer{
    background: #222 none repeat scroll 0 0;
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 3rem 0;
}
footer .box h1{
    font-size: 4rem;
    margin-bottom: 10px;
}
footer .box h1 span{
    color: var(--primary-color);
}
footer .first,
footer .last{
    width: 300px;
}
footer .box a,
footer .box p {
    font-size: 0.9rem;
    color: rgb(145, 144, 144);
}
footer .box a:hover{
    color: white;
}
footer .box h4{
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
footer .socials i {
    font-size: 1.5rem;
}
footer .box .inputbox{
    display: flex;
}
footer .box input{
    background: rgb(55, 54, 54);
    padding: 0.8rem 0.5rem;
    border: none;
    color: #fff;
    outline: none;
    margin-top: 1rem;
}
footer .box .msg{
    width: 60px;
    margin-top: 1rem;
    height: 40px;
    background: #00b4d8;
}
footer .box .msg i{
    color: #fff;
    position: relative;
    top: 10px;
    left: 21px;
}

.ends{
    text-align: center;
    padding: 2rem;
    font-size: 0.8rem;
    background: rgb(31, 30, 35);
    color: rgb(145, 144, 144);
}
.ends b{
    color: var(--primary-color);
}
.ends span{
    font-size: 0.8rem;
}
/* ==================================
 footer ends 
===================================== */


/* ==================================
about us begins  
===================================== */
.about{
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.8) 
    ),url("./images/security-imag.jpg");
    background-size: cover;
    height: 150px; 
    padding-top: 8rem;
}
.about p{
    text-align: center;
    color: white;
    margin: 3rem 0 0 0;
    font-size: 35px;
    text-transform: capitalize;

}
.homeicon{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    display: flex;
    gap: 0.5rem;
    background: #eeeeee none repeat scroll 0 0;
    padding: 1rem 5rem;
    position: relative;
}
.homeicon a{
    color: rgb(66, 66, 66);
}
.homeicon p{
    color: var(--primary-color-light);
}
/* ==================================
about us ends 
===================================== */


/* ==================================
about text begins 
===================================== */
.aboutextbox{
    margin: 8rem 0 5rem 0;
    display: flex;
    gap: 4rem;
    justify-content: center;
}
.aboutextbox .aboutchild{
    width: 500px;
    height: 300px;
}
.aboutextbox .aboutext h3,
.purpose .textbox h3{
    color: #333;
    font-size: 26px;
    line-height: 35px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.aboutextbox .aboutext p,
.missionbox .child p{
    text-align: justify;
    margin-top: 0.8rem;
    font-size: 0.9rem;
    color: rgb(82, 82, 82);
}
.aboutextbox .aboutext p span{
    font-style: italic;
    font-weight: 700;
}
.aboutextbox .aboutimg{
    border: 5px solid var(--primary-color-light);
}
/* ==================================
about text ends 
===================================== */


/* ==================================
mission begins 
===================================== */
.missionbox{
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-bottom: 5rem;
}
.missionbox .child{
    width: 500px;
}
.missionbox .child h3{
    color: #333;
    font-size: 26px;
    line-height: 40px;
}
.missionbox .child hr{
    width: 95px;
    background: #023e8a;
    height: 2px;
    margin-bottom: 1rem;
}
/* ==================================
mission ends 
===================================== */


/* ==================================
wat we do begins
===================================== */
.purpose{
    gap: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    background: #eaeaea
}
.purpose .purposechild{
    width: 510px;
}
.purpose .textbox{
    padding-top: 6rem;
    text-align: center;
}
.purpose .textbox button{
    background: var(--primary-color) none repeat scroll 0 0;
    border: 3px solid var(--primary-color-light);
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 26px;
    padding: 5px 10px;
    margin-top: 1.5rem;
}
/* ==================================
wat we do ends 
===================================== */


/* ==================================
services begins
===================================== */
.firstbox{
    display: flex;
    margin: 5rem 0 4rem 0;
    width: 90%;
    flex-direction: row-reverse;
}
.firstbox .textbox{
    width: 600px;
    padding: 4rem 0 5rem 3rem;
}
.firstbox .textbox,
.secondbox .textbox{
    text-align: center;
    font-size: 23px;
    color: #333;
}
.firstbox .textbox .textchild .text{
    display: flex;
    justify-content: center;
}
.firstbox .text .box{
    margin: 1.5rem 1rem 0 0;
    padding: 1rem;
    border-radius: 20px 0 0 20px;
    border-top: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    display: grid;
    place-items: center;
    font-size: 0.8rem;
    width: 98px;
}
/* ==================================
management ends 
===================================== */


/* ==================================
second box ends 
===================================== */
.secondbox{
    display: flex;
    margin: 4rem 0 5rem 0;
    justify-content: center;
    gap: 3rem;
}
.secondbox .imgbox{
    display: flex;
    gap: 1rem;
    width: 700px;
    height: 350px;
}
.secondbox .dropclick{
    width: 250px;  
    height: 350px; 
}
.secondbox .images .small .img{
    margin-bottom: 1rem;
    width: 150px;
}
.secondbox .dropclick .child{
    background: #f7f7f7 none repeat scroll 0 0;
    font-weight: 600;
    font-size: 0.9rem;
    color: #333;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 0.5rem;
}
.secondbox .dropclick .child:hover{
    background: var(--primary-color);
    color: white;
    cursor: pointer;
}
.secondbox .dropclick .child1{
    background: var(--primary-color);
    color: white;
} 
/* ==================================
second box ends 
===================================== */



/* ==================================
third box begins
===================================== */
.thirdBox{
    gap: 5rem;
    padding: 0 4rem;
    display: flex;
    margin: 0 0 4rem 0;
}
.thirdBox .Specialization{
    display: flex;
}
.Specialization h3{
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    text-align: center;
    line-height: 3rem;
    color: #333;
}
.Specialization .list{
    background: rgb(1, 1, 111);
    color: white;
    padding: 2rem 2rem 2rem 0;
    width: 300px;
}
.Specialization .listchild{
    font-size: 0.9rem;
    padding: 1rem;
    border-width: 100%;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
}
.Specialization .child2{
    border-top: none;
}
.Specialization .listchild p{
    width: 200px;
}
.Specialization .child3{
    padding: 1rem 0 0 1rem;
}
.Specialization .list2{
    background: gold;
    color: black;
    padding-right: 2rem;
}
.Specialization .list2 .listchild{
    border-bottom: 2px solid black;
}
.Specialization .list2 .child3{
    padding-bottom: 1rem;
}
.thirdBox .datebox .text{
    margin-top: 3rem;
    text-align: center;
    color: rgb(1, 44, 1);
    font-family: cursive;
    box-shadow: 0 0 5px 2px black;
    height: 300px;
    width: 300px;
    padding: 3rem 2rem 2rem 2rem;
}
.thirdBox .datebox .text p{
    color: #333;
    width: auto;
    text-align: justify;
    line-height: 1.3rem;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
.thirdBox .datebox .date{
    position: absolute;
    right: 10rem;
    bottom: -40rem;
    background: var(--primary-color);
    width: 50px;
    padding: 2rem;
    text-align: center;
    border-radius: 100%;
}
.thirdBox .datebox .date p{
    color: white;
    font-size: 1.5rem;
    font-family:'Times New Roman', Times, serif;
}
/* ==================================
 ends 
===================================== */



/* ==================================
contact begins
===================================== */
#contact{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 5rem 0;
}
#contact form{
    padding: 2rem;
    width: 700px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.3);
}
#contact form .text{
    text-align: center;
    line-height: 2rem;
    margin-bottom: 1rem;
}
#contact form .text h3{
    font-family:cursive;
    text-transform: capitalize;
    font-size: 1.3rem;
    color: #333;
}
#contact form .text p{
    font-size: 0.8rem;
}
#contact form .input{
    display: flex;
    gap: 1rem;
}
#contact form .input input{
    padding: 1rem 2rem 1rem 1rem;
    outline: none;
    width: 100%;
    border: 1px solid #b7b6b6;
}
#contact form textarea{
    width: 100%;
    border: 1px solid #b7b6b6;
}

#contact .address{
    padding: 2rem 0;
    border-top: 3px solid var(--primary-color-light);
    border-bottom: 3px solid var(--primary-color-light);
    background: #fff;
    height: 300px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
}
#contact .address .addressBox{
    padding: 2rem;

}
#contact .address .content i{
    font-size: 20px;
    color: white;
    float: left;
    width: 44px;
    height: 44px;
    background: #0d6eed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
#contact .address .content span {
    bottom: 0;
    font-size: 1rem;
    font-weight: bold;
    color:#4a4949;
}
#contact .address .content p {
    padding: 0 0 10px 60px;
    line-height: 1.3rem;
    font-size: 14px;
    color: gray;
}
#contact .address .iconBox{
    display: flex;
    background: #0d6eed;
    width: auto;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
}
#contact .address .iconBox i{
    color: white;
    font-size: 1.2rem;
}


/* ==================================
contact ends 
===================================== */


.trainingBox{
    display: flex;
    justify-content: center;
}
.trainingText{
    display: grid;
    place-items: center;
    margin: 3rem 0;
    background: #84ade2;
    width: 40%;
    border-radius: 15rem 0 ;
    padding: 7rem;
    border: 3px solid #085ac6;
}
.trainingText h3{
    padding: 1rem;
    font-size: 1.67rem;
    color: #333;
}
.trainingText p{
    color: rgb(56, 55, 55);
    font-size: 0.8rem; 
}



























@media screen and (max-width: 1100px) and (min-width: 700px){
    header{
        gap: 10rem;
        justify-content: space-between;
    }
    header img{
        margin: 0.8rem;
    }
    header .navBox nav{
        gap: 2.5rem;
    }
    .home .slider .sliderText {
        width: 80%;
        left: 3rem;
    }
    .next{
        padding: 4rem 0 3rem 0;
    }
    .next p {
        font-size: 30px;
        line-height: 35px;
        margin: 0 0 2rem 0;
        color: rgb(75, 75, 75);
    }
    .next .boxes{
        gap: 1rem;
    }
    .services{
        display: inline;
        width: auto;
        margin: 1rem;  
    }
    .assurance p{
        width: 95%;
    }
    .assurance .container {
        justify-content: space-around;
        gap: 1rem;
    }
    .assurance .container .content {
        padding: 1.5rem 0.5rem;
        line-height: 2rem;
        width: auto;
    }
    .assurance .container .content p {
        font-size: large;
        line-height: 1.5rem;
        letter-spacing: 2px;
    }
    footer {
        display: grid;
        grid-template-columns: auto auto;
        place-items: center;
        gap: 2rem;
        padding: 3rem 0;
    }

    .aboutextbox {
        width: auto;
        margin: 5rem 0 5rem 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .missionbox {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 0 5rem 5rem;
    }
    .purpose .textbox {
        padding: 6rem 1rem 2rem 0;
        text-align: center;
    }
    .firstbox {
        display: flex;
        margin: 5rem 0 0 0;
        align-items: center;
        width: 90%;
        flex-direction: column-reverse;
    }
    .thirdBox {
        gap: 1rem;
        display: grid;
    }
    .thirdBox .datebox .text {
        width: 70%;
        padding: 5rem 2rem 1rem 2rem;
    }
    
    .thirdBox .datebox .date {
        display: none;
    }

    #contact {
        display: grid;
        gap: 2rem;
        margin: 5rem 0;
        width: 90%;
    }
    #contact form {
        padding: 0 2rem;
        width: 90%;
        padding: 2rem;
    }
    #contact .address {
        width: 90%;
    }
}
@media screen and (max-width: 500px) and (min-width: 300px){
    header{
        gap: 2rem;
    }
    header img{
        margin: 0.8rem;
    }
    .home .slider .sliderText {
        width: auto;
        left: 0.5rem;
    }
    .home .slider .sliderText h2 {
        font-family: "Oswald", sans-serif;
        font-size: 25px;
    }
    .home .slider .sliderText p {
        width: 90%;
        font-size: 15px;
        line-height: 1.3rem;
    }
    .next{
        padding: 4rem 0 3rem 0;
    }
    .next p {
        font-size: 30px;
        line-height: 35px;
        margin: 0 0 2rem 0;
        color: rgb(75, 75, 75);
    }
    .next .boxes{
        gap: 1rem;
    }
    .services{
        display: inline;
        width: auto;
        margin: 1rem;  
    }
    .assurance p{
        width: 95%;
    }
    .assurance .container {
        justify-content: space-around;
        gap: 1rem;
    }
    .assurance .container .content {
        padding: 1.5rem 0.5rem;
        line-height: 2rem;
        width: auto;
    }
    .assurance .container .content p {
        font-size: large;
        line-height: 1.5rem;
        letter-spacing: 2px;
    }
    footer {
        display: grid;
        grid-template-columns: auto auto;
        place-items: center;
        gap: 2rem;
        padding: 3rem 0;
    }

    .aboutextbox {
        width: auto;
        margin: 5rem 0 5rem 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .missionbox {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 0 5rem 5rem;
    }
    .purpose .textbox {
        padding: 6rem 1rem 2rem 0;
        text-align: center;
    }
    .firstbox {
        display: flex;
        margin: 5rem 0 0 0;
        align-items: center;
        width: 90%;
        flex-direction: column-reverse;
    }
    .thirdBox {
        gap: 1rem;
        display: grid;
    }
    .thirdBox .datebox .text {
        width: 70%;
        padding: 5rem 2rem 1rem 2rem;
    }
    
    .thirdBox .datebox .date {
        display: none;
    }

    #contact {
        display: grid;
        gap: 2rem;
        margin: 5rem 0;
        width: 90%;
    }
    #contact form {
        padding: 0 2rem;
        width: 90%;
        padding: 2rem;
    }
    #contact .address {
        width: 90%;
    }
}

@media screen and (max-width: 700px) and (min-width: 300px){
    /* header .navBox nav{
        display: none;
    }
    .menu{
        display: block;
    } */
}
@media screen and (max-width: 500px) and (min-width: 300px){}